.years-container {
    width: calc(100% - 40px);
    max-height: 350px;
    padding: 2px 20px 20px;
    border-radius: 5px;
    background-color: #FFFFFF;
    box-shadow: 1px 2px 4px 1px rgba(0, 0, 0, .1);
}

.years-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid silver;
    padding: 0 10px;
}

.new-year-form {
    background-color: #0088a9;
    height: 30px;
    border-radius: 30px;
    padding: 10px;
}

.new-year-form:hover > input {
    width: 111px;
    padding: 0 6px;
}

.new-year-form button {
    color: #FFFFFF;
    font-size: 35px;
    float: right;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #0088a9;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}

.new-year-form button:focus {
    outline: 0 auto -webkit-focus-ring-color;
    outline-offset: 0;
}

.new-year-form input {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: white;
    font-size: 14px;
    transition: 0.4s;
    line-height: 30px;
    width: 0;
}

::-webkit-input-placeholder {
    color: #FFFFFF;
    opacity: 0.8;
}

:-moz-placeholder { /* Firefox 18- */
    color: #FFFFFF;
    opacity: 0.8;
}

::-moz-placeholder { /* Firefox 19+ */
    color: #FFFFFF;
    opacity: 0.8;
}

:-ms-input-placeholder {
    color: #FFFFFF;
    opacity: 0.8;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

.table-years-container {
    display: flex;
    justify-content: center;
}

.content-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    max-width: 500px;
    width: 100%;
    min-width: 250px;
    border-radius: 5px 5px 0 0;
    background-color: #0088a9;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.content-table thead {
    width: calc(100% - 1em)
}

.content-table thead tr {
    background-color: #0088a9;
    color: #ffffff;
    font-weight: bold;
}

.content-table th,
.content-table td {
    padding: 12px 15px;
    text-align: center;
}

.content-table thead, .content-table tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

.content-table tbody {
    display: block;
    max-height: 200px;
    overflow: auto;
}

.content-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.content-table tbody tr:nth-of-type(odd) {
    background-color: #FFFFFF;
}

.content-table tbody tr:last-of-type {
    border-bottom: 2px solid #0088a9;
}

.content-table tbody tr.active-row {
    font-weight: bold;
    color: #0088a9;
}

.content-table img {
    width: 20px;
    height: 20px;
}

.content-table img:hover {
    cursor: pointer;
}

.new-year-edited {
    margin: 0 auto;
    border: none;
    border-bottom: 2px solid silver;
    font-size: 16px;
    padding: 0 5px;
    height: 40px;
    background: none;
    outline: none;
}

.edit-modal-btns {
    margin-top: 20px;
    display: flex;
    width: 100%;
    justify-content: center;
}

.edit-modal-content {
    display: flex;
    flex-direction: column;
}

.table-years-container p {
    margin-top: 30px;
}

.create-year-simulation-btn {
    color: #FFFFFF;
    background-color: #0088a9;
    border-radius: 50%;
    padding: 1px 5px;
    font-weight: bold;
}

.create-year-btn-loading {
    animation: button-loading-spinner 1s ease infinite;
}

@keyframes button-loading-spinner {
    from {
        transform: rotate(0turn);
    }

    to {
        transform: rotate(1turn);
    }
}
