.custom-select-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.button-session-month-year {
    display: flex;
    justify-content: flex-end;
}

.button-session-month-year button {
    height: 40px;
    border: 1px solid;
    background-color: #0088a9;
    border-radius: 5px;
    font-size: 14px;
    color: #e9f4fb;
    cursor: pointer;
    outline: none;
    margin-top: 10px;
}
