.month-year-container {
    width: calc(50% - 40px);
    height: 250px;
    padding: 2px 20px 20px;
    border-radius: 5px;
    background-color: #FFFFFF;
    box-shadow: 1px 2px 4px 1px rgba(0, 0, 0, .1);
}

.month-year-header {
    border-bottom: 1px solid silver;
    padding: 0 10px;
    margin-bottom: 20px;
}

.month-year-content h4 {
    text-align: center;
}

.custom-select-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.custom-select-input select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background: #DEE2E6;
    flex: 1;
    padding: 0 .5em;
    color: #000000;
    cursor: pointer;
    font-size: 15px;
}

.custom-select-input select::-ms-expand {
    display: none;
}

.custom-select-input {
    position: relative;
    display: flex;
    width: 220px;
    height: 3em;
    line-height: 3;
    background: #DEE2E6;
    overflow: hidden;
    border-radius: .25em;
}

.custom-select-input::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 1em;
    background: #CED4DA;
    cursor: pointer;
    pointer-events: none;
    transition: .25s all ease;
}

.custom-select-input:hover::after {
    color: #0088a9;
}

.button-session-month-year {
    display: flex;
    justify-content: flex-end;
}

.button-session-month-year button {
    height: 40px;
    border: 1px solid;
    background-color: #0088a9;
    border-radius: 5px;
    font-size: 14px;
    color: #e9f4fb;
    cursor: pointer;
    outline: none;
    margin-top: 10px;
}

@media screen and (max-width: 835px) {
    .month-year-container {
        width: calc(100% - 40px);
    }
}

@media screen and (max-width: 430px) {
    .month-year-container {
        height: 300px;
    }

    .custom-select-content {
        flex-direction: column;
        align-items: flex-start;
    }

    .custom-select-input {
        width: 100%;
        margin-top: 10px;
    }
}


