.half-box {
    width: calc(50% - 40px);
    height: 250px;
    padding: 2px 20px 20px;
    border-radius: 5px;
    background-color: #FFFFFF;
    box-shadow: 1px 2px 4px 1px rgba(0, 0, 0, .1);
}

.half-box-header {
    border-bottom: 1px solid silver;
    padding: 0 10px;
    margin-bottom: 20px;
}

.half-box-content h4 {
    text-align: center;
}

@media screen and (max-width: 835px) {
    .half-box {
        width: calc(100% - 40px);
    }
}

@media screen and (max-width: 430px) {
    .half-box {
        height: 300px;
    }

    .half-box-content {
        flex-direction: column;
        align-items: flex-start;
    }

    .custom-select-input {
        width: 100%;
        margin-top: 10px;
    }
}
