.expenses-box {
    display: flex;
    flex-wrap: wrap;
}

.expenses-box-session {
    padding: 2px 20px 20px;
    border-radius: 5px;
    background-color: #FFFFFF;
    box-shadow: 1px 2px 4px 1px rgba(0, 0, 0, .1);
    margin: 10px;
}

.half-box {
    width: calc(50% - 60px);
    height: 250px;
}

.full-box {
    width: calc(100% - 60px);
    height: fit-content;
}

.expenses-box-session-header {
    border-bottom: 1px solid silver;
    padding: 0 10px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.expenses-box-session-content h4 {
    text-align: center;
}

@media screen and (max-width: 880px) {
    .half-box {
        height: fit-content;
        width: calc(100% - 40px);
    }
}

@media screen and (max-width: 500px) {
    .expenses-box-session {
        margin: 10px 0;
    }

    .full-box {
        width: calc(100% - 40px);
    }
}

@media screen and (max-width: 450px) {
    .expenses-box-session-header {
        flex-direction: column;
        align-items: flex-start;
        padding-top: 10px;
    }

    .expenses-box-session-header h3 {
        margin: 10px 0;
    }

    .expenses-box-session-header h4 {
        margin-bottom: 10px;
    }

    .half-box-content {
        flex-direction: column;
        align-items: flex-start;
    }
}
