.simple-sliding-form {
    background-color: #0088a9;
    height: 30px;
    border-radius: 30px;
    padding: 10px;
}

.simple-sliding-form:hover > input {
    padding: 0 6px;
}

.simple-sliding-form button {
    color: #FFFFFF;
    font-size: 35px;
    float: right;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #0088a9;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}

.simple-sliding-form button:focus {
    outline: 0 auto -webkit-focus-ring-color;
    outline-offset: 0;
}

.simple-sliding-form input {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: white;
    font-size: 14px;
    transition: 0.4s;
    line-height: 30px;
    width: 0;
}

::-webkit-input-placeholder {
    color: #FFFFFF;
    opacity: 0.8;
}

:-moz-placeholder { /* Firefox 18- */
    color: #FFFFFF;
    opacity: 0.8;
}

::-moz-placeholder { /* Firefox 19+ */
    color: #FFFFFF;
    opacity: 0.8;
}

:-ms-input-placeholder {
    color: #FFFFFF;
    opacity: 0.8;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

.simple-sliding-form-btn-loading {
    animation: button-loading-spinner 1s ease infinite;
}

@keyframes button-loading-spinner {
    from {
        transform: rotate(0turn);
    }

    to {
        transform: rotate(1turn);
    }
}
